<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/admin-login.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div> class="admin-side">
      
      <div class="frame-427319726">
        <div class="group-11385">
          <div class="admin-login">Admin Login</div>
          <form action='/admin-login' method="post">
            <button onClick="redirctToCreateViewUser()">
                <div class="group-11169">
                    <div class="rectangle-3"></div>
                    <div class="login">Login</div>
                </div>
              </button>
              <div class="email">
                <div class="rectangle-6"></div>
                <label for="user-id-admin" class="user-id">User ID</label>
                <input type="text" id="user-id-admin" name="user-id-admin" required>
              </div>
              <div class="password">
                <div class="rectangle-62"></div>
                <label for="password-admin" class="password2">Password</label>
                <input type="password" id="password-admin" name="password-admin" required>
              </div>
          </form>
        </div>
      </div>
      <div class="frame-427319727">
        <div class="logo">LOGO</div>
      </div>
    </div>
    <script>
        function redirctToCreateViewUser() {
            window.location.href = '/create-view-user';
        }
    </script>
  </body>
</html>